@{
	ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<p>
	Phone: (804) 774-1664
</p>
<p>
	Email: c
</p>

<p>
	<label>From:</label>
	<input type="text" />
</p>
<p>
	<label>Subject:</label>
	<input type="text" />
</p>
<p>
	<label>Message:</label>
	<textarea></textarea>
</p>